<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Desconto</th>
            <th scope="col">Género</th>
            <th scope="col">Tipo de vestimenta</th>
            <th scope="col">Foto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text = ${producto.codigo}></td>
            <td th:text = ${producto.nombre}></td>
            <td th:text = ${producto.descripcion}></td>
            <td th:text = ${producto.precio}></td>
            <td th:text = ${producto.descuento}></td>
            <td th:text = ${producto.genero}></td>
            <td th:text = ${producto.tipo}></td>
            <td><img th:src="@{/foto/{foto}(foto = ${producto.foto})}" width="50px"></td>
            <td><a th:href="@{/editarProducto/{id} (id=${producto.id})}">Editar</a></td>
            <td><a th:href="@{/excluirProducto/{id} (id=${producto.id})}">Excluir</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>